<h1>Tetralath</h1>

<ul>
    <li>
        <label>Nome</label>
        <input type="text" id="txt-name" />
    </li>
    <li>
        <label>Cor das peças</label>
        <select id="slc-color">
            <option value="0"></option>
            <option value="1">Branca</option>
            <option value="2">Preta</option>
        </select>
    </li>
    <li>
        <label>Quem começa a jogar</label>
        <input type="radio" id="player-human" name="player" value="1" checked="checked" />
        <label for="player-human">Humano</label>
        <input type="radio" id="player-machine" name="player" value="2" />
        <label for="player-machine">Máquina</label>
    </li>
    <li>
        <button id="btn-start-game">Começar jogo</button>
    </li>
</ul>