<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/jquery.fancybox.css?v=2.0.6" media="screen" />
    <link rel="stylesheet" type="text/css" href="../css/modalgameoptions.css" />
    <link rel="stylesheet" href="../css/main.css" />
</head>
<body>
    <h1>Tetralath</h1>
    <div id="main"></div>

<script src="../js/libs/jquery-1.7.1.min.js"></script>
<script src="../js/libs/raphael-min.js"></script>
<script type="text/javascript" src="../js/libs/jquery.fancybox.js?v=2.0.6"></script>

<script src="../js/controler/board.js"></script>
<script src="../js/controler/players.js"></script>
<script src="../js/controler/gameoptions.js"></script>
<script src="../js/controler/main.js"></script>
</body>
</html>